<div class="subremodal-form-group-popup">
    <label class="custom-popup-label-group">Color</label>
    <div class="custom-popup-input-group">
        <input id="description" data-id="011501" next-el="remodal-confirm" class="form-control" data-mandatory="true" dataType="string" maxlength="100" validation-string="Color" name="DESCRIPTION" value="@ViewBag.description" uppercase>
        <div class="description validation-result" style="display: none;"></div>
    </div>
</div>
<input type="hidden" name="AUTONUMBER_TMP" id="AUTONUMBER_TMP" value="@ViewBag.autonumber" nosave />
<input type="hidden" name="SYSTEM_ID_TMP" id="SYSTEM_ID_TMP" value="@ViewBag.system_id" nosave />