<div class="subremodal-form-group-popup">
    <label class="custom-popup-label-group">Code</label>
    <div class="custom-popup-input-group">
        <input id="brand_code" data-id="010101" next-el="description" class="form-control" data-mandatory="true" dataType="string" maxlength="10" validation-string="Code" name="BRAND_CODE" value="@ViewBag.brand_code" uppercase>
        <div class="brand_code validation-result" style="display: none;"></div>
    </div>
</div>
<div class="subremodal-form-group-popup">
    <label class="custom-popup-label-group">Brand</label>
    <div class="custom-popup-input-group">
        <input id="description" data-id="010102" next-el="remodal-confirm" class="form-control" data-mandatory="true" dataType="string" maxlength="100" validation-string="Brand" name="DESCRIPTION" value="@ViewBag.description" uppercase>
        <div class="description validation-result" style="display: none;"></div>
    </div>
</div>
<input type="hidden" name="AUTONUMBER_TMP" id="AUTONUMBER_TMP" value="@ViewBag.autonumber" nosave />
<input type="hidden" name="SYSTEM_ID_TMP" id="SYSTEM_ID_TMP" value="@ViewBag.system_id" nosave />