<div class="subremodal-form-group-popup">
    <label class="custom-popup-label-group">Code</label>
    <div class="custom-popup-input-group">
        <input id="warehouse_id" data-id="010901" next-el="description" class="form-control" data-mandatory="true" dataType="string" maxlength="10" validation-string="Code" name="WAREHOUSE_ID" value="@ViewBag.warehouse_id">
        <div class="warehouse_id validation-result" style="display: none;"></div>
    </div>
</div>
<div class="subremodal-form-group-popup">
    <label class="custom-popup-label-group">Warehouse</label>
    <div class="custom-popup-input-group">
        <input id="description" data-id="010902" next-el="remodal-confirm" class="form-control" data-mandatory="true" dataType="string" maxlength="100" validation-string="Warehouse" name="DESCRIPTION" value="@ViewBag.description">
        <div class="description validation-result" style="display: none;"></div>
    </div>
</div>
<input type="hidden" name="AUTONUMBER_TMP" id="AUTONUMBER_TMP" value="@ViewBag.autonumber" nosave />
<input type="hidden" name="SYSTEM_ID_TMP" id="SYSTEM_ID_TMP" value="@ViewBag.system_id" nosave />